<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Save Couchy!</title>
  <link rel="stylesheet" href="/public/screen.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(function() {
      var interval = 2500;

      function updateTweet() {
        $.get('/tweet', function(tweet) {
          displayTweet(tweet);
        });
      }

      function displayTweet(tweet) {
        $('.tweet .text').html('"' + tweet.text + '"');
        $('.tweet .twitter-handle').html('<a href="/buds/' + tweet.user.screen_name + '">@' + tweet.user.screen_name + '</a>');
        $('.avatar').prop('src', tweet.user.profile_image_url);
      };

      setInterval(updateTweet, interval);

      var seedTweet = <%- JSON.stringify(latestTweet) %>;
      displayTweet(seedTweet);
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47565520-3', 'savecouchy.com');
    ga('send', 'pageview');
  </script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container dance-box">
      <div class="avatar-container">
        <img class="avatar" src="https://pbs.twimg.com/profile_images/821409818/erik_02_square_bigger.jpg">
      </div>
      <img class="couch" src="/public/BBNGif.gif">
    </div>
    <div class="container">
      <div class="tweet">
        <p class="text"></p>
        <p>-- <span class="twitter-handle"></span></p>
      </div>
    </div>
    <div class="container twitter-stream">
      <h3>Tweet @CouchyLives to save Couchy from the flaaaames!</h3>
      <a href="https://twitter.com/share?text=I%20saved%20Couchy%20from%20the%20flaaaaaames!%20%40SaveCouchy!&hashtags=BBN" class="twitter-share-button" data-lang="en">Tweet</a>
      <br>
      <br>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <a class="twitter-timeline" href="https://twitter.com/search?q=couchylives+OR+savecouchy" data-widget-id="453277467235459072">Tweets about "couchylives OR savecouchy"</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </body>
</html>
