<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Save Couchy!</title>
  <link rel="stylesheet" href="/public/screen.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
    $(function() {
      var interval = 1000;

      function updateTweet() {
        $.get('/tweet', function(tweet) {
          displayTweet(tweet);
        });
      }

      function displayTweet(tweet) {
        $('.tweet .text').html(tweet.text);
        $('.tweet .twitter-handle').html('<a href="https://twitter.com/' + tweet.user.screen_name + '">@' + tweet.user.screen_name + '</a>');
        $('.avatar').prop('src', tweet.user.profile_image_url);
      };

      setInterval(updateTweet, interval);

      var seedTweet = <%- JSON.stringify(latestTweet) %>;
      displayTweet(seedTweet);
    });
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47565520-3', 'savecouchy.com');
    ga('send', 'pageview');
  </script>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container">
      <blockquote class="twitter-tweet" align="center" lang="en"><p>Tweet at your buddy <a href="https://twitter.com/SaveCouchy">@SaveCouchy</a> to save me from the flaaaaaames!</p>&mdash; Couchy (@SaveCouchy) <a href="https://twitter.com/SaveCouchy/statuses/452586780017963008">April 5, 2014</a></blockquote>
    </div>
    <div class="container">
      <div class="avatar-container">
        <img class="avatar" src="https://pbs.twimg.com/profile_images/821409818/erik_02_square_bigger.jpg">
      </div>
      <img class="couch" src="/public/BBNGif.gif">
    </div>
    <div class="container">
      <div class="tweet">
        <h3>From Couchy's best bud <span class="twitter-handle"></span>:</h3>
        <p class="text"></p>
      </div>
    </div>
  </body>
</html>
