.container {
  margin: 0 auto;
  width: 600px;
  position: relative;
  text-align: center;
}
.tweet {
  position: absolute;
  top: 238px;
  /* padding-left: 50px; */
  width: 100%;
}
.dance-box {
  top: -90px;
}
.couch {
  top: 0;
  left: 0;
  position: absolute;
}
.avatar-container {
  width: 48px;
}
.avatar-container img {
  position: relative;
  width: 100%;
}
.avatar {
  top: 186;
  left: 390;
  position: absolute;
  max-width: 100%;
}
.twitter-stream {
  margin-top: 341px;
}
@media (max-width: 800px) {
  .container {
    width: 400px;
  }
  .dance-box {
    top: -20px;
  }
  .couch {
    width: 300px;
  }
  .avatar-container {
    width: 26;
  }
  .avatar {
    top: 93px;
    left: 193;
  }
  .tweet {
    top: 185px;
  }
  .twitter-stream {
    margin-top: 350px;
  }
}
